<!DOCTYPE html>
<html lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>解忧杂货铺</title>

    <!-- Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
       <a class="navbar-brand" href="#">初衷</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">等待解决的烦恼</a>
             </li>
             <li class="nav-item">
                <a class="nav-link" href="#">已经解决的烦恼</a>
             </li>
             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                联系管理员
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                   <a class="dropdown-item" href="#">邮箱地址</a>
                   <a class="dropdown-item" href="#">个人网站</a>
                   <div class="dropdown-divider"></div>
                   <a class="dropdown-item" href="#">Dustin Qiao</a>
                </div>
             </li>
             <li class="nav-item">
                <a class="nav-link" href="#">关于</a>
             </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
             <input class="form-control mr-sm-2" type="search" placeholder="查找烦恼" aria-label="查找烦恼">
             <button class="btn btn-outline-success my-2 my-sm-0" type="submit">GO</button>
          </form>
       </div>
    </nav>

    <div class="jumbotron jumbotron-fluid text-center">
       <h1 class="display-4">解忧杂货铺</h1>
       <p class="lead">这是一个温馨的地方<br>没有人认识你，没有人排斥你<br>你可以尽情倾吐对生活的不满</p>

       <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">提交你的烦恼</a>
       </p>
    </div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed --> 
    <script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.js"></script>
    
  </body>
</html>
