{%extends 'base.html'%}
  {%block content%}
  <div class="container jumbotron">
      <div class="py-3 text-center">
        <h2>烦恼提交</h2>
        <p class="lead">你可以在这里写下你的烦恼</p>
      </div>

      <div class="py-3 jumbotron">
        <div>
          <form class="needs-validation" method="post" action="">
          {% csrf_token %}
            <div class="row">
              <div class="col-md">
              	<h5 class="mb-3">你的昵称</h5>
              	<input type="text" class="form-control" name="nickname" placeholder="" value="" required>
                <div class="invalid-feedback">
                  请填写正确的昵称！
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md">
              	<h5 class="mb-3">烦恼标题</h5>
                <input type="text" class="form-control" name="title" placeholder="" value="" required>
                <div class="invalid-feedback">
                  请填写正确的标题！
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md">
              	<h5 class="mb-3">烦恼内容</h5>
                <textarea class="form-control" name="content" placeholder="" value="" required></textarea>
                <div class="invalid-feedback">
                  请填写正确的内容！
                </div>
              </div>
            </div>
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">确认提交</button>
          </form>
        </div>
      </div>
    </div>

    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
  {%endblock%}
